Workflows/Daily_digest/Daily_digest_workflow
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $json.queryText }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        352
      ],
      "id": "7acaca38-3a78-44b9-8c37-6f91a3370186",
      "name": "Generate Query Embedding",
      "credentials": {
        "openAiApi": {
          "id": "2upRNPy9nEd18Ezl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.id AS chunk_id,\n    c.content_id,\n    c.chunk_text,\n    c.embedding <=> $1::vector AS distance,\n    ct.title,\n    ct.url,\n    ct.raw_content,\n    ct.metadata,\n    ct.relevance_score\nFROM content_chunks c\nJOIN content ct ON c.content_id = ct.id\nWHERE c.embedding IS NOT NULL\n  AND ct.created_at >= NOW() - INTERVAL '7 days'\nORDER BY c.embedding <=> $1::vector ASC\nLIMIT 40;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.user_embedding) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        352
      ],
      "id": "279f5a88-5c82-4ef4-8b99-6aa5f2af9eb1",
      "name": "Vector Search Content",
      "credentials": {
        "postgres": {
          "id": "km9vFAgKDt15jM5w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        352
      ],
      "id": "6af6895c-b78a-4cbd-beb2-01593125c090",
      "name": "Generate Digest via OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2upRNPy9nEd18Ezl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.choices?.[0]?.message?.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(msg);\n} catch (e) {\n  throw new Error(\"OpenAI did not return valid JSON: \" + msg);\n}\n\nconst userData = $items(\"Build Digest Request1\")[0].json;\n\nreturn [{\n  json: {\n    ...parsed,\n    user_id: userData.user_id,\n    digest_id: userData.digest_id,\n    digest_date: userData.digest_date,\n    topics: userData.topics\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        352
      ],
      "id": "20900afb-9715-443c-8270-91bdaa948769",
      "name": "Parse OpenAI Response"
    },
    {
      "parameters": {
        "jsCode": "const insights = $json.insights || [];\nconst digestText = $json.digest_text || \"\";\nconst userId = $json.user_id;\nconst digestId = $json.digest_id;\nconst digestDate = $json.digest_date;\n\nif (insights.length === 0) {\n  throw new Error(\"No insights generated by OpenAI\");\n}\n\nreturn insights.map((insight, index) => ({\n  json: {\n    digest_id: digestId,\n    title: insight.title || `Insight ${index + 1}`,\n    content: insight.content || \"\",\n    difficulty: insight.difficulty || \"intermediate\",\n    source_name: insight.source_name || \"\",\n    source_url: insight.source_url || \"\",\n    source_type: insight.source_type || \"article\",\n    faithfulness_score: insight.faithfulness_score || 0.8,\n    relevance_score: insight.relevance_score || 0.8,\n    aggregate_rating: ((insight.faithfulness_score || 0.8) + (insight.relevance_score || 0.8)) / 2,\n    user_id: userId,\n    digest_text: digestText,\n    insight_count: insights.length\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        352
      ],
      "id": "b77a2f6b-6b8f-4555-a5a9-caa4e645ebc9",
      "name": "Prepare Insights for Storage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $json.title + ' ' + $json.content }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2000,
        352
      ],
      "id": "80fe0dfe-0d45-4a37-82de-bb302dd790ea",
      "name": "Generate Insight Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "2upRNPy9nEd18Ezl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const embedding = $json.data?.[0]?.embedding || [];\nconst embeddingStr = '[' + embedding.join(',') + ']';\n\nconst preparedInsights = $items(\"Prepare Insights for Storage\");\nconst currentIndex = $item.index || 0;\nconst originalData = preparedInsights[currentIndex]?.json;\n\nreturn [{\n  json: {\n    ...originalData,\n    embedding: embeddingStr\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        352
      ],
      "id": "e723a263-283d-4cf2-a1fd-24cd1045e498",
      "name": "Format Insight Embedding"
    },
    {
      "parameters": {
        "jsCode": "const digestText = $items(\"Parse OpenAI Response\")[0].json.digest_text;\nconst insightCount = $input.all().length;\nconst digestId = $input.all()[0].json.digest_id;\n\nlet score = 0;\n\nconst wordCount = digestText.split(/\\s+/).length;\nif (wordCount > 500) score += 30;\nelse if (wordCount > 300) score += 20;\nelse if (wordCount > 150) score += 10;\n\nif (insightCount >= 5) score += 30;\nelse if (insightCount >= 3) score += 20;\nelse if (insightCount >= 1) score += 10;\n\nconst hasKeyTakeaways = /key takeaways|🎯/i.test(digestText);\nconst hasDeepDive = /deep dive|📚/i.test(digestText);\nconst hasApplications = /practical|application|💡/i.test(digestText);\nconst hasReading = /reading|recommended|🔗/i.test(digestText);\n\nif (hasKeyTakeaways) score += 10;\nif (hasDeepDive) score += 10;\nif (hasApplications) score += 10;\nif (hasReading) score += 10;\n\nscore = Math.min(100, score);\n\nconst avgFaithfulness = $input.all().reduce((sum, item) => sum + (item.json.faithfulness_score || 0), 0) / insightCount;\nconst avgRelevance = $input.all().reduce((sum, item) => sum + (item.json.relevance_score || 0), 0) / insightCount;\n\nreturn [{\n  json: {\n    digest_id: digestId,\n    quality_score: score,\n    word_count: wordCount,\n    insight_count: insightCount,\n    avg_faithfulness: Math.round(avgFaithfulness * 100) / 100,\n    avg_relevance: Math.round(avgRelevance * 100) / 100,\n    has_all_sections: hasKeyTakeaways && hasDeepDive && hasApplications && hasReading\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        352
      ],
      "id": "38828bc3-3e4e-440d-a110-6a5831b9530c",
      "name": "Calculate Quality Score"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE daily_digests\nSET quality_score = {{ $json.quality_score }}\nWHERE id = '{{ $json.digest_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2800,
        352
      ],
      "id": "c2350ec4-05fa-42ad-9e31-0d85a347ee36",
      "name": "Update Digest Quality",
      "credentials": {
        "postgres": {
          "id": "km9vFAgKDt15jM5w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $items(\"Fetch User\")[0].json;\nconst digestData = $items(\"Parse OpenAI Response\")[0].json;\nconst qualityData = $items(\"Calculate Quality Score\")[0].json;\nconst insights = $items(\"Store Insights in Database\");\n\nconst digestContent = digestData.digest_text;\n\nconst htmlContent = digestContent\n  .replace(/^# (.*$)/gim, '<h1>$1</h1>')\n  .replace(/^## (.*$)/gim, '<h2>$2</h2>')\n  .replace(/^### (.*$)/gim, '<h3>$3</h3>')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*(.*?)\\*/g, '<em>$1</em>')\n  .replace(/\\[([^\\]]+)\\]\\(([^\\)]+)\\)/g, '<a href=\"$2\" style=\"color: #2563eb; text-decoration: none;\">$1</a>')\n  .replace(/\\n/g, '<br>');\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 700px; margin: 0 auto; padding: 20px; background: #f9fafb; }\n    .container { background: white; padding: 40px; border-radius: 12px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    h1 { color: #2563eb; border-bottom: 3px solid #2563eb; padding-bottom: 10px; margin-top: 0; }\n    h2 { color: #1e40af; margin-top: 30px; }\n    h3 { color: #1e3a8a; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 10px; margin-bottom: 30px; text-align: center; }\n    .header h1 { color: white; border: none; margin: 0; }\n    .stats { background: #f3f4f6; padding: 15px; border-radius: 8px; margin: 20px 0; text-align: center; font-size: 14px; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 2px solid #e5e7eb; font-size: 14px; color: #6b7280; text-align: center; }\n    a { color: #2563eb; text-decoration: none; }\n    a:hover { text-decoration: underline; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🧠 Your Daily AI Insights</h1>\n      <p style=\"margin: 10px 0 0 0; opacity: 0.9;\">${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n    </div>\n    <div class=\"stats\">\n      📊 <strong>${qualityData.insight_count}</strong> insights | \n      📝 <strong>${qualityData.word_count}</strong> words | \n      ⭐ Quality: <strong>${qualityData.quality_score}/100</strong> | \n      🎯 Relevance: <strong>${Math.round(qualityData.avg_relevance * 100)}%</strong>\n    </div>\n    ${htmlContent}\n    <div class=\"footer\">\n      <p>Personalized for: <strong>${user.topics}</strong></p>\n      <p>Generated by your AI Learning Assistant</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    to: user.email,\n    subject: `Your Daily AI Insights - ${new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}`,\n    html: emailHtml,\n    text: digestContent,\n    user_id: user.id,\n    quality_score: qualityData.quality_score\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        352
      ],
      "id": "7cab4978-5708-468e-a508-a0c2cd1b88bd",
      "name": "Format Email"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "0395154c-9a1f-46e8-bff9-f6427343d4bf",
      "name": "Daily Schedule1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const user = $items(\"Normalize Embedding\")[0].json;\nconst chunks = $json.chunks || [];\n\nconst userPrompt =\n  \"USER PROFILE:\\n\" +\n  \"Topics: \" + (user.topics || user.user_topics) + \"\\n\" +\n  \"Learning week: \" + (user.week || user.user_week) + \"\\n\\n\" +\n  \"ARTICLE EXCERPTS (\" + chunks.length + \" sources):\\n\" +\n  JSON.stringify(chunks, null, 2) + \"\\n\\n\" +\n  \"Generate a comprehensive daily learning digest.\\n\" +\n  \"Return JSON ONLY with this structure:\\n\" +\n  \"{\\n\" +\n  \"  \\\"digest_text\\\": \\\"[Full markdown digest with sections: # Daily AI Insights Digest, ## 🎯 Key Takeaways, ## 📚 Deep Dive, ## 💡 Practical Applications, ## 🔗 Recommended Reading]\\\",\\n\" +\n  \"  \\\"insights\\\": [\\n\" +\n  \"    {\\n\" +\n  \"      \\\"title\\\": \\\"Insight title\\\",\\n\" +\n  \"      \\\"content\\\": \\\"Detailed explanation (100-200 words)\\\",\\n\" +\n  \"      \\\"difficulty\\\": \\\"beginner|intermediate|advanced\\\",\\n\" +\n  \"      \\\"source_name\\\": \\\"Article title\\\",\\n\" +\n  \"      \\\"source_url\\\": \\\"https://...\\\",\\n\" +\n  \"      \\\"source_type\\\": \\\"article\\\",\\n\" +\n  \"      \\\"faithfulness_score\\\": 0.85,\\n\" +\n  \"      \\\"relevance_score\\\": 0.90\\n\" +\n  \"    }\\n\" +\n  \"  ]\\n\" +\n  \"}\";\n\nconst payload = {\n  model: \"gpt-4o-mini\",\n  response_format: { type: \"json_object\" },\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are an AI learning assistant that creates personalized daily digests. \" +\n        \"Generate comprehensive, insightful content with actionable takeaways. \" +\n        \"Focus on connecting concepts and highlighting practical applications. \" +\n        \"Rate faithfulness (how accurate to source) and relevance (how useful to user) for each insight. \" +\n        \"Respond ONLY with valid JSON.\"\n    },\n    {\n      role: \"user\",\n      content: userPrompt\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    payload,\n    user_id: user.user_id,\n    digest_id: $json.digest_id,\n    digest_date: $json.digest_date,\n    topics: user.topics || user.user_topics\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        352
      ],
      "id": "9c43744e-928e-4e75-9858-5accd3e5c17c",
      "name": "Build Digest Request1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM users\nWHERE id = 'b4be8dc3-d699-4d6d-8581-282556c81ee5'\nLIMIT 1;",
        "options": {}
      },
      "id": "32f42a64-c875-4527-98c3-2148a6c28f9a",
      "name": "Fetch User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -208,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "km9vFAgKDt15jM5w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "daily_digests",
          "mode": "list",
          "cachedResultName": "daily_digests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_week": "={{ $json.current_week }}",
            "user_id": "={{ $json.id }}",
            "user_topics": "={{ $json.topics }}",
            "digest_date": "={{ $now.toFormat('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "digest_date",
              "displayName": "digest_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_week",
              "displayName": "user_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_topics",
              "displayName": "user_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        352
      ],
      "id": "f7871d42-97b7-4a10-926f-70ae6ca2c14a",
      "name": "Create Digest Row",
      "credentials": {
        "postgres": {
          "id": "km9vFAgKDt15jM5w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const j = item.json || {};\n  const topics = j.user_topics || j.topics || \"\";\n\n  return {\n    json: {\n      ...j,\n      queryText: `Recent articles about: ${topics}. Focus on latest developments, practical applications, and key insights.`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        352
      ],
      "id": "b6f47d32-739a-4d64-81bc-bcfc07f72dd1",
      "name": "Build Query Text"
    },
    {
      "parameters": {
        "jsCode": "const originals = $items(\"Build Query Text\");\nconst httpResponses = $input.all();\n\nif (originals.length !== httpResponses.length) {\n  throw new Error(\n    `Mismatch: ${originals.length} originals but ${httpResponses.length} embeddings`\n  );\n}\n\nreturn originals.map((orig, i) => {\n  const http = httpResponses[i].json;\n  const emb = http?.data?.[0]?.embedding;\n\n  if (!emb) {\n    throw new Error(`Missing embedding for item ${i}`);\n  }\n\n  return {\n    json: {\n      ...orig.json,\n      user_embedding: emb\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        352
      ],
      "id": "a40cbf49-9e08-4343-a23a-3fd86a2e3af0",
      "name": "Normalize Embedding"
    },
    {
      "parameters": {
        "jsCode": "const chunks = $input.all().map((item, index) => {\n  return {\n    index,\n    title: item.json.title,\n    url: item.json.url,\n    text: item.json.chunk_text,\n    relevance: item.json.relevance_score,\n    distance: item.json.distance\n  };\n});\n\nconst user = $items(\"Normalize Embedding\")[0].json;\n\nreturn [{\n  json: {\n    user_id: user.user_id,\n    topics: user.topics || user.user_topics,\n    week: user.user_week,\n    digest_id: user.id,\n    digest_date: user.digest_date,\n    chunks\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        352
      ],
      "id": "2bc1558c-844d-4912-99cd-a4ab78d7d94e",
      "name": "Prepare Digest Input"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "insights",
          "mode": "list",
          "cachedResultName": "insights"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "digest_id": "={{ $json.digest_id }}",
            "title": "={{ $json.title }}",
            "content": "={{ $json.content }}",
            "difficulty": "={{ $json.difficulty }}",
            "source_name": "={{ $json.source_name }}",
            "source_url": "={{ $json.source_url }}",
            "source_type": "={{ $json.source_type }}",
            "faithfulness_score": "={{ $json.faithfulness_score }}",
            "relevance_score": "={{ $json.relevance_score }}",
            "aggregate_rating": "={{ $json.aggregate_rating }}",
            "embedding": "={{ $json.embedding }}",
            "created_at": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "digest_id",
              "displayName": "digest_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faithfulness_score",
              "displayName": "faithfulness_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "relevance_score",
              "displayName": "relevance_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "aggregate_rating",
              "displayName": "aggregate_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2400,
        352
      ],
      "id": "94d71bb1-61c0-4526-969a-cdea84337d24",
      "name": "Store Insights in Database",
      "credentials": {
        "postgres": {
          "id": "km9vFAgKDt15jM5w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hastisanghavi008@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3232,
        352
      ],
      "id": "6a9f5831-d6a4-4bf7-9bc7-b11e7ea8ffa4",
      "name": "Send a message",
      "webhookId": "ee4bf8ca-61db-48d6-ab24-be7be0a227ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "uDi9hjkYZlUB4z0x",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Normalize Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search Content": {
      "main": [
        [
          {
            "node": "Prepare Digest Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Digest via OpenAI": {
      "main": [
        [
          {
            "node": "Parse OpenAI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI Response": {
      "main": [
        [
          {
            "node": "Prepare Insights for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Insights for Storage": {
      "main": [
        [
          {
            "node": "Generate Insight Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Insight Embeddings": {
      "main": [
        [
          {
            "node": "Format Insight Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Insight Embedding": {
      "main": [
        [
          {
            "node": "Store Insights in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Quality Score": {
      "main": [
        [
          {
            "node": "Update Digest Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Digest Quality": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule1": {
      "main": [
        [
          {
            "node": "Fetch User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Request1": {
      "main": [
        [
          {
            "node": "Generate Digest via OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User": {
      "main": [
        [
          {
            "node": "Create Digest Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Digest Row": {
      "main": [
        [
          {
            "node": "Build Query Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Query Text": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Embedding": {
      "main": [
        [
          {
            "node": "Vector Search Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Digest Input": {
      "main": [
        [
          {
            "node": "Build Digest Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Insights in Database": {
      "main": [
        [
          {
            "node": "Calculate Quality Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Daily Schedule1": [
      {
        "timestamp": "2025-12-13T11:39:10.348+05:30",
        "Readable date": "December 13th 2025, 11:39:10 am",
        "Readable time": "11:39:10 am",
        "Day of week": "Saturday",
        "Year": "2025",
        "Month": "December",
        "Day of month": "13",
        "Hour": "11",
        "Minute": "39",
        "Second": "10",
        "Timezone": "Asia/Calcutta (UTC+05:30)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63a77ed77bf09f03ba6c90c140f515163e715e09c649b39ba7e68fafac81943a"
  }
}
